html {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

body {
  padding: 0;
  margin: 0 20px;
  font-family: Helvetica, Arial, sans-serif;
}

/* title */
h1 {
  font-size: 2rem;
  text-align: center;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.gallery a {
  flex-grow: 1;
  flex-basis: 125px;
  max-width: 300px;
  margin: 5px;
}

.gallery img {
  height: 100%;
  width: 100%;
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  width: calc(100% + 40px);
  padding: 10px 0;
  margin-right: -20px;
  margin-left: -20px;
  justify-content: center;
}

footer ul {
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center;
  display: contents;
}

footer ul li {
  flex-basis: auto;
  padding: 0 20px;
}
